/* reset browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, var, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
ol { 
  margin-left: 1.4em; 
  list-style: decimal; 
}
ul { 
  margin-left: 1.4em; 
  list-style:square; 
}
img {
  border: 0;
}
/* end reset browser styles */

#main {
	float: left;
	width: 580px;
}
#sidebar {
	margin-left: 600px;
	padding: 15px;
	background: #E9F5FE;
}

 body {
       color: #B1967C;
       font-family: "Palatino Linotype", Baskerville, serif;
       padding-top: 100px;
       background: #CDE6FF url(images/bg_body.png) repeat-x;
       width: 800px;
       margin: 0 auto;
}
h1 {
       font-size: 3em;
       font-family: "Arial Black", Arial, sans-serif;
     }

h2 {
           font-size: 2.2em;
           color: #AFC3D6;
           margin-bottom: 5px;
}
